@tailwind base;
@tailwind components;
@tailwind utilities;

.uppy-Dashboard-AddFiles .uppy-Dashboard-AddFiles-info {
    display: block;
}

.uppy-Dashboard-inner {
    background-color: rgba(249 250 251);
}

button.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse{
    color: #6d28d9;
}

.uppy-Dashboard-note{
    color: #000000 !important;
}